.admin-wrapper {
  padding-right: 20px;
}

.product-select,
.status-select,
.country-select {
  width: 100%;
}

.filter-group {
  height: 200px;
}

.admin-buttons {
  clear: both;
  padding: 20px 0;
}
